.buy_information{
    border:  rgba(251, 0, 0, 0.81) 5px solid;
    margin: 100px auto;
    width: 65%;
    height: 650px;
    padding: 30px;

}
.buy_information p {
    border:1px solid black;
    width: 10%;
    text-align: center;
    border-radius: 10px;

    &&:hover{
        background: rgba(255, 0, 0, 0.81);
        cursor: pointer;
    }
}

.type{
    display: flex;
    column-gap: 40px;
}

.format{
    display: flex;
    column-gap: 40px;
    font-weight: 600;
}
.format p {
    width: 4%;
    margin: 0 ;

}
.sheets{
    display: flex;
    column-gap: 40px;
    font-weight: 600;
}
.colors{
    display: flex;
     column-gap: 40px;
    font-weight: 600;

}

.type_paper{
     display: flex;
     column-gap: 40px;
     font-weight: 600;
}

.how_much_sheets{
    display: flex;
     column-gap: 40px;
     font-weight: 600;

}
.final_cost_and_button{
    display: flex;
    justify-content: end;
    gap: 20px;
    flex-direction: row;
    margin: 30px auto;
}
.final_cost{
    font-weight: 600;
    font-size: 27px;
    margin: auto 0;
}
.zakazat{
    width: 150px;
    height: 45px;
    background: rgba(255, 0, 0, 0.81);
    cursor: pointer;
    border: 2.5px solid rgba(255, 67, 67, 0.81);
    border-radius: 5px;
    color: white;
    font-size: 16px;

    &&:hover{
        opacity: 90%;
    }

    &&:active {
        opacity: 85%;
    }
}

.active {
    background: rgba(255, 0, 0, 0.81);
}