.buy_information{
    border:  rgba(253, 95, 95, 0.81) 2px solid;
    margin: 0 auto;
    width: 65%;
    height: 650px;


}
.buy_information p {
    border:1px solid black;
    width: 10%;
    text-align: center;
    border-radius: 10px;

    &&:hover{
        background: rgba(253, 95, 95, 0.81);
    }
}

.format{
    display: flex;
    column-gap: 40px;
    font-weight: 600;
}
.format p {
    width: 4%;
    margin: 0 ;

}
.sheets{
    display: flex;
    column-gap: 40px;
    font-weight: 600;
}
.colors{
    display: flex;
     column-gap: 40px;
    font-weight: 600;

}

.type_paper{
    display: flex;
     column-gap: 40px;
     font-weight: 600;
}

.how_much_sheets{
    display: flex;
     column-gap: 40px;
     font-weight: 600;

}
.final_cost_and_button{
    display: flex;
    justify-content: end;
    gap: 20px;
    flex-direction: row;
}
.final_cost{
font-weight: 600;
    font-size: 27px;
    margin: auto 0;
}
.zakazat{
    width: 150px;
    height: 45px;
    background: rgba(253, 95, 95, 0.81);
}